body {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background-color: rgb(14, 14, 54);
 margin: 0;
}

.calculator {
 background-color: #fff;
 padding: 20px;
 border-radius: 10px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
 font-size: 2em;
 margin-bottom: 10px;
 padding: 10px;
 text-align: right;
 border: 1px solid #ccc;
 border-radius: 5px;
}

.buttons {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 gap: 10px;
}

.button {
 padding: 20px;
 font-size: 1.5em;
 text-align: center;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 background-color: rgb(244, 162, 9);
 transition: background-color 0.2s;
}

.button:hover {
 background-color: #ddd;
}